@model OWN.Repository.Paging.PaginatedList<OWN.Repository.Tables.Address>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<table id="tableQuery" class="table table-striped table-bordered overflow-auto">
    <caption>查詢結果</caption>
    <thead>
        <tr>
            <th scope="col">AddressLine1</th>
            <th scope="col">City</th>
            <th scope="col">StateProvince</th>
            <th scope="col">CountryRegion</th>
            <th scope="col">PostalCode</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var address in Model)
        {
            <tr>
                <td>@address.AddressLine1</td>
                <td>@address.City</td>
                <td>@address.StateProvince</td>
                <td>@address.CountryRegion</td>
                <td>@address.PostalCode</td>
            </tr>
        }
    </tbody>
</table>

<a id="btnPrev" data-pagenumber="@(Model.PageIndex - 1)"   
   class="btn btn-secondary @prevDisabled">
    Previous
</a>
<a id="btnNext" data-pagenumber="@(Model.PageIndex + 1)"   
   class="btn btn-secondary @nextDisabled">
    Next
</a>